---
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


.site-logo img {
    border-radius: $border-radius;
}
.page__footer .page__footer-copyright:before {
    display: table;
    clear: both;
    content: url("https://i.creativecommons.org/l/by-nd/3.0/gr/88x31.png");
    @include breakpoint(max-width $large - 1px) {
        content: url("https://i.creativecommons.org/l/by-nd/3.0/gr/80x15.png");
    }
}
.google-form-iframe-container {
    height: 100vh;
}
